[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.6.1"
xgboost = "==3.0.5"
joblib = "==1.5.2"
pandas = "==2.2.2"
numpy = "==2.0.2"
streamlit = "==1.38.0"

[dev-packages]

[requires]
python_version = "3.11"
